<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy | Apple Watch</title>
    <link rel="stylesheet" href="/styles/estilos_taller2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="app">

       
            
         <!--Encabezado y barra de navegacion-->
        <header class="app__encabezado--tienda" >
            
            <div class="nav-fija" id="miNav">
                <ul class="nav-fija__bar">
                    <li class="nav-fija__icono"><i class="fab fa-apple"></i></li>
                    <li class="nav-fija__item">  <a href="/" class="nav-fija__enlace"> HOME </a></li>
                    <li class="nav-fija__item">PRODUCTS</li>
                    <li class="nav-fija__item">SUPPORT</li>
                    <li class="nav-fija__item">ABOUT US</li>
                    <li class="nav-fija__icono nav"><a href="/carrito" class="nav-fija__enlace"><i data-feather="shopping-bag"></i> <h2 class="nav-fija__compra">0</h2> </a> </li>
                    <li class="nav-fija__item menu" > <i class="fa fa-bars"></i>
                    </li>
                    
                </ul>
                
            </div>
            
            <!--Informacion dentro del encabezado-->
            <div class="contenedor-prin contenedor-prin--tienda">
            <div class="contenedor-prin__arriba contenedor-prin__arriba--tienda">
                <h1 class="app__titulo-producto app__titulo-producto--grande">Choose <br> wisely</h1>
           
                    </div>
            <div class="contenedor-prin__abajo contenedor-prin__abajo--tienda">

                  
                    <a href="#sec-tienda" class="nav-fija__enlace nav-fija__enlace--icono"><i class="fas fa-chevron-down"></i>

                    </a> 
                </div>
               
            </div>
            
        </header>

     <!--Seccion de la tienda de productos-->
        <section class="tienda" id="sec-tienda">

     <!--Seccion de filtros-->

        <div class="tienda__responsive">

            <h2 class="filtros__titulo-responsive">FILTER BY <i class="fas fa-chevron-down"></i></h2>
            <div class="tienda__filtros">

                

                <ul class="filtros__lista">
                
                  <li class="filtros__item"><h2 class="filtros__titulo">MODEL</h2></li>
                  <li class="filtros__item"> <p class="filtros__filtrar filtros__filtrar--modelo" onclick="location.href='/tienda/SERIES 4/#sec-tienda';">Series 4</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar filtros__filtrar--modelo" onclick="location.href='/tienda/NIKE +/#sec-tienda';">Nike +</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar filtros__filtrar--modelo" onclick="location.href='/tienda/HERMÈS/#sec-tienda';">Hèrmes</p> </li>

                  <li class="filtros__item"><h2 class="filtros__titulo">BAND TYPE</h2></li>
                  <li class="filtros__item"> <p class="filtros__filtrar filtros__filtrar--banda sport">Sport</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar filtros__filtrar--banda leather">Leather</p> </li>
                  <li class="filtros__item"><p class="filtros__filtrar filtros__filtrar--banda steel">Steel</p> </li>

                   <li class="filtros__item"><h2 class="filtros__titulo">COLOR</h2></li>
                   
                </ul>

                <ul class="filtros__lista--colores">

                    <li class="filtros__item"> <div class="filtros__color" style=" background-color: #2F2F2F" onclick="location.href='/tienda/Black/#sec-tienda';"></div> </li>
                     <li class="filtros__item"> <div class="filtros__color" style=" background-color: #E8E8E8" onclick="location.href='/tienda/Silver/#sec-tienda';"></div> </li>
                      <li class="filtros__item"> <div class="filtros__color" style=" background-color: #FFD6CA" onclick="location.href='/tienda/Pink/#sec-tienda';"></div> </li>
                       <li class="filtros__item"> <div class="filtros__color" style=" background-color: #002070" onclick="location.href='/tienda/Blue/#sec-tienda';"></div> </li>
                        <li class="filtros__item"> <div class="filtros__color" style=" background-color: #B1937D" onclick="location.href='/tienda/Brown/#sec-tienda';"></div> </li>
                        

                </ul>


            </div>
            </div>

             <!--Seccion de productos  onclick="location.href='/tienda/prod/{{this.numero}}';"-->

            <div class="tienda__productos">

                

                {{#each listaProductos}}

                 <div class="producto" >

                    <div class="producto__banner" onclick="location.href='/tienda/prod/{{this.numero}}';" style=" background-image: url(/imagenes/{{this.imagenes.[0]}}"></div>

                    <div class="producto__info" >
                    <p class="producto__info--item producto__modelo">{{this.modelo}}</p>
                    <p class="producto__info--item producto__nombre">{{this.nombre}}</p>

                    <div class="producto__contBtn">
                     <p class="producto__info--item producto__precio">${{this.precio}}</p>
                      <button class="producto__info--item producto__btn">ADD TO BAG</button>
                </div>
                     </div>
                   
                    
                  
                  
                </div>

                 {{/each}}



                

            </div>


        </section>








    </div>

    <!--Archivos de javaScript -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/script/script2.js"></script>
     <script src="/script/script3.js"></script>

</body>
</html>