<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buy | Apple Watch</title>
    <link rel="stylesheet" href="/styles/estilos_taller2.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="app">

       
            
         <!--Encabezado y barra de navegacion-->
        <header class="app__encabezado" >
            
            <div class="nav-fija" id="miNav">
                <ul class="nav-fija__bar">
                    <li class="nav-fija__icono"><i class="fab fa-apple"></i></li>
                    <li class="nav-fija__item">  <a href="/" class="nav-fija__enlace"> HOME </a></li>
                    <li class="nav-fija__item">PRODUCTS</li>
                    <li class="nav-fija__item">SUPPORT</li>
                    <li class="nav-fija__item">ABOUT US</li>
                    <li class="nav-fija__icono nav"><a href="/carrito" class="nav-fija__enlace"><i data-feather="shopping-bag"></i> <h2 class="nav-fija__compra">0</h2> </a> </li>
                    <li class="nav-fija__item menu" > <i class="fa fa-bars"></i>
                    </li>
                    
                </ul>
                
            </div>
            
            <!--Informacion dentro del encabezado-->
            <div class="contenedor-prin" style=" background-image: url(/imagenes/banner-tiendaT.png)">
            <div class="contenedor-prin__arriba">
                <h1 class="app__titulo-producto app__titulo-producto--grande">Choose <br> wisely</h1>
           
                    </div>
            <div class="contenedor-prin__abajo">

                  
                    <a href="#sec-tienda" class="nav-fija__enlace nav-fija__enlace--icono"><i class="fas fa-chevron-down"></i>

                    </a> 
                </div>
               
            </div>
            
        </header>

     <!--Seccion de la tienda de productos-->
        <section class="tienda" id="sec-tienda">

     <!--Seccion de filtros-->

            <div class="tienda__filtros">

                <ul class="filtros__lista">
                
                  <li class="filtros__item"><h2 class="filtros__titulo">MODEL</h2></li>
                  <li class="filtros__item"> <p class="filtros__filtrar">Series 4</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar">Nike +</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar">Hèrmes</p> </li>

                  <li class="filtros__item"><h2 class="filtros__titulo">BAND TYPE</h2></li>
                  <li class="filtros__item"> <p class="filtros__filtrar">Sport</p> </li>
                  <li class="filtros__item"> <p class="filtros__filtrar">Leather</p> </li>
                  <li class="filtros__item"><p class="filtros__filtrar">Steel</p> </li>

                   <li class="filtros__item"><h2 class="filtros__titulo">COLOR</h2></li>
                   
                </ul>

                <ul class="filtros__lista--colores">

                    <li class="filtros__item"> <div class="filtros__color" style=" background-color: #2F2F2F"></div> </li>
                     <li class="filtros__item"> <div class="filtros__color" style=" background-color: #E8E8E8"></div> </li>
                      <li class="filtros__item"> <div class="filtros__color" style=" background-color: #FCCAE9"></div> </li>
                       <li class="filtros__item"> <div class="filtros__color" style=" background-color: #0036BC"></div> </li>
                        <li class="filtros__item"> <div class="filtros__color" style=" background-color: #B1937D"></div> </li>

                </ul>


            </div>

             <!--Seccion de productos-->

            <div class="tienda__productos">

                

                {{#each listaProductos}}

                 <div class="producto" onclick="location.href='/tienda/{{this.numero}}';">

                    <div class="producto__banner" style=" background-image: url(/imagenes/{{this.miniatura1}}"></div>

                    <div class="producto__info">
                    <p class="producto__info--item producto__modelo">{{this.modelo}}</p>
                    <p class="producto__info--item producto__nombre">{{this.nombre}}</p>
                     <p class="producto__info--item producto__precio">${{this.precio}}</p>

                     </div>
                  
                </div>

                 {{/each}}



                

            </div>


        </section>








    </div>

    <!--Archivos de javaScript -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="/script/script2.js"></script>

</body>
</html>